{% extends 'base.html' %}

{% load static %}

{% block dopcss %}
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock dopcss %}

{% block dop_nav %}
    <div class="navigator">
        <ul class="navigator_body">
            {% for el in categories %}
                <li class="navigator_items">
                    <a href="{% url 'categoris' el.slug %}" class="navigator_link">{{ el.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock dop_nav %}

{% block content %}
<section class="text_about">
				<h2 class="text_about_h2">О нашей компании...</h2>
				<p>Компания DatexNS занимается поставкой и реализацией спецодежды, спецобуви и средств индивидуальной защиты для предприятий.</p>
				<p><strong>Почему мы считаем, что спецодежда так важна для компании?</strong></p>
				<p>Мы уверены, что спецодежда имеет большое значение, ведь она несет множество функций.<br>
				✅ Защита работников. Рабочая одежда защищает от пыли, химических веществ, а также дождя и ветра во время уличных работ. Сигнальная одежда изготавливается из светоотражающих тканей и защищает сотрудников во время дорожных работ в темное время суток.<br>
				✅ Комфорт во время работы. Ведь любое неудобство может снизить скорость работы и производительность труда.<br>
				✅ Формирование «чувства локтя» у сотрудников. Работники, которые носят фирменную униформу, чувствуют себя частью одной дружной компании и проникаются большей ответственностью к работе.<br>
				✅ Работа на имидж компании. Спецодежда формирует у клиентов образ успешной компании. Ее сразу узнают, лишь взглянув на сотрудника в униформе.</p>
				<p><strong>Что мы можем вам предложить?</strong></p>
				<p>Компания DatexNS предлагает вам большой выбор средств индивидуальной защиты, спецодежды и спецобуви, изготовленных с соблюдением всех норм и технологий.
				Наша продукция имеет все необходимые свойства:</p>
				<ul>
					<li>безопасность,</li>
					<li>удобство,</li>
					<li>практичность,</li>
					<li>комфорт.</li>
				</ul>
				<p><strong>Почему с нами удобно и выгодно работать?</strong></p>
				<ul>
					<li>у нас широкий ассортимент;</li>
					<li>отличное качество изделий за приемлемую цену;</li>
					<li>оперативно и в срок выполняем  заказы;</li>
					<li>вся продукция сертифицирована;</li>
					<li>выгода работы с нами подтверждена многочисленными положительными отзывами от наших клиентов и партнеров.</li>
				</ul>
				<p>Будем рады видеть вас в качестве наших партнеров!</p>
				<p><strong>Спецодежда защищает, от проблем уберегает!</strong></p>
			</section>

{% endblock content %}

{% block slider2 %}
{% endblock slider2 %}