{% extends 'base.html' %}

{% load static %}

{% block dopcss %}
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock dopcss %}

{% block dop_nav %}
    <div class="navigator">
        <ul class="navigator_body">
            {% for el in categories %}
                <li class="navigator_items">
                    <a href="{% url 'categoris' el.slug %}" class="navigator_link">{{ el.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock dop_nav %}

{% block content %}
	<section class="text_about">
		<h2 class="text_about_h2">Контакты...</h2>
		<div class="contacts-section"  style="display: flex; flex-wrap: wrap; justify-content: space-around; margin-top: 15px;">
			<div class="contact-one" style=" text-align: center;">
				<div class="contact-one--cart">
					<div class="google_maps" style="    text-align: center;    margin: 0 auto;">	
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d588.8884114115586!2d71.45192263282438!3d51.160749840098894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4245813a255a32bb%3A0x4f2854a94d0e2cb8!2z0JDRgdGC0LDQvdCwLCDQotCw0YDQsNGF0LDQvdCwIDkg0JbQmiDQmNC30L7QsdC40LvQuNC1!5e1!3m2!1sru!2skz!4v1680763650848!5m2!1sru!2skz" width="450" height="250" style="border-radius: 10px; border-color: #1E90FF;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>


				<div class="contact-one--title">
					<p><strong>Головной офис:</strong> ул. Ж. Тархана 9, ВП 10</p>
					<p><strong>Режим работы:</strong> Пн-Пт с 09:00 - 18:00</p>
					<p style="display: flex; flex-direction: row; gap: 5px; justify-content: center;"><strong>Тел:</strong> 
						<span style="display: flex; flex-direction: column; gap: 2px;">
							<a href="tel:+77004741688">+7 (700) 474-16-88</a>
							<a href="tel:+77758887239">+7 (775) 888-72-39</a>
						</span>
					</p>
					<p><strong>Email:</strong> <a href="mailto:datexns@mail.ru">datexns@mail.ru</a></p>
				</div>

			</div>
			<div class="contact-two" style=" text-align: center;">
				<div class="contact-two--cart">
					<div class="google_maps" style="    text-align: center;    margin: 0 auto;">						
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.7433489281148!2d80.25155001613977!3d50.41071097679807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42f26537547a73a1%3A0xd15d74a1f3185b76!2z0YPQuy4g0JHQvtC7LiDQnNC-0LzRi9GI0YPQu9GLIDIyLCDQodC10LzQtdC5IDA3MDAwMA!5e1!3m2!1sru!2skz!4v1645611238230!5m2!1sru!2skz" width="450" height="250" style="border:0;" tyle="border-radius: 10px; border-color: #1E90FF;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>


				<div class="contact-two--title">
					<p><strong>Офис в г. Семей:</strong> г. Семей ул.Б.Момышулы 22</p>
					<p><strong>Режим работы:</strong> Пн-Пт с 09:00 - 18:00</p>
					<p><strong>Директор магазина:</strong> Косубаев Темирлан Булатулы</p>
					<p><strong>Тел:</strong> <a href="tel:+77715887239">+7 771 588 72 39</a></p>
					<p><strong>Email:</strong> <a href="mailto:datex.semey@mail.ru">datex.semey@mail.ru</a></p>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}

{% block slider2 %}
{% endblock slider2 %}