{% extends 'base.html' %}

{% load static %}

{% block dopcss %}
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
<link rel="stylesheet" href="{% static 'css/delivery.css' %}">
{% endblock dopcss %}

{% block dop_nav %}
    <div class="navigator">
        <ul class="navigator_body">
            {% for el in categories %}
                <li class="navigator_items">
                    <a href="{% url 'categoris' el.slug %}" class="navigator_link">{{ el.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock dop_nav %}

{% block content %}
<section class="text_about">
				<h2 class="text_about_h2">Доставка</h2>
				<p>Мы ценим время своих клиентов и время нашей компании. Поэтому для нас важно качественно и оперативно выполнить доставку для наших покупателей.</p>
				<p><strong>Доставка по Республике Казахстан</strong></p>

				<ul>
					<li>при заказе более 150 000 тенге – бесплатно.,</li>
					<li>при заказе менее 150 000 тенге – доставка платная. Стоимость и способ доставки будут озвучены Вашим менеджером</li>
				</ul>
				<p><strong>Доставка по г. Нур-Султан</strong></p>
				<ul>
					<li>при заказе более 75 000 тенге – бесплатно.,</li>
					<li>при заказе менее 75 000 тенге – доставка не осуществляется (самовывоз со склада). </li>
				</ul>
				<p><strong>Самовывоз со склада ТОО «DatexNS»</strong></p>
				<p>Удобное расположение склада, предоставление необходимых документов и помощь наших грузчиков позволят максимально комфортно и оперативно забрать свой товар.</p>
				<p>Забрать заказ Вы можете самостоятельно в рабочее время:</p>
				<ul>
					<li>с понедельника по пятницу с 9:00 часов до 17:30 часов, предварительно согласовав с Вашим менеджером в момент подтверждения заказа</li>
					<li> с 13:00 часов до 14:00 часов — обед</li>
				</ul>
				<p><strong>Сроки доставки</strong></p>
				<p>Сроки доставки обговариваются индивидуально с Вашим менеджером.</p>
			</section>

{% endblock content %}

{% block slider2 %}
{% endblock slider2 %}